.theme-dark {
    --accent-h: 210;
    --accent-s: 50%;
    --accent-l: 50%;

    --text-normal: #c1c1c1;
    --text-muted: #999999;
    --text-faint: #333333;

    --background-primary: #000000;
    --background-secondary: #121212;
    --background-modifier-hover: #222222;
    --background-modifier-active-hover: #888888;
    --background-modifier-message: #121212;
    --background-modifier-form-field: #222222;

    --ribbon-background: #000000;
    --divider-color: #222222;
    --scrollbar-thumb-bg: #333333;
    --status-bar-border-color: #222222;
    --status-bar-background: #000000;
    --titlebar-background: #000000;
    --titlebar-text-color: #c1c1c1;

    --nav-item-color: #999999;
    --nav-item-color-active: #888888;
    --nav-item-background-active: #222222;
    --nav-item-color-hover: #c1c1c1;
    --nav-item-background-hover: #222222;

    --tab-background-active: #222222;
    --tab-text-color-active: #888888;
    --tab-text-color: #999999;

    --icon-color: #c1c1c1;

    --h1-color: #888888;
    --h2-color: #999999;
    --h3-color: #99bbaa;
    --h4-color: #ddeecc;
    --h5-color: #aaaaaa;
    --h6-color: #aaaaaa;

    --cursorcolor: var(--h1-color);

    --link-external-color: #aaaaaa;
    --link-external-color-hover: #888888;
    --link-color: #99bbaa;
    --link-color-hover: #888888;

    --code-background: #121212;
    --code-normal: #ddeecc;
    --code-comment: #333333;
    --code-function: #888888;
    --code-keyword: #999999;
    --code-string: #ddeecc;
}
