.theme-dark,
.theme-light {
    --accent-h: 210;
    --accent-s: 50%;
    --accent-l: 50%;

    --text-normal: #5f5e4e;
    --text-muted: #6c6b5a;
    --text-faint: #878573;

    --background-primary: #f4f3ec;
    --background-secondary: #e7e6df;
    --background-modifier-hover: #929181;
    --background-modifier-active-hover: #36a166;
    --background-modifier-message: #e7e6df;
    --background-modifier-form-field: #929181;

    --ribbon-background: #f4f3ec;
    --divider-color: #929181;
    --scrollbar-thumb-bg: #878573;
    --status-bar-border-color: #929181;
    --status-bar-background: #f4f3ec;
    --titlebar-background: #f4f3ec;
    --titlebar-text-color: #5f5e4e;

    --nav-item-color: #6c6b5a;
    --nav-item-color-active: #36a166;
    --nav-item-background-active: #929181;
    --nav-item-color-hover: #5f5e4e;
    --nav-item-background-hover: #929181;

    --tab-background-active: #929181;
    --tab-text-color-active: #36a166;
    --tab-text-color: #6c6b5a;

    --icon-color: #5f5e4e;

    --h1-color: #36a166;
    --h2-color: #5f9182;
    --h3-color: #a5980d;
    --h4-color: #7d9726;
    --h5-color: #5b9d48;
    --h6-color: #ae7313;

    --cursorcolor: var(--h1-color);

    --link-external-color: #5b9d48;
    --link-external-color-hover: #36a166;
    --link-color: #a5980d;
    --link-color-hover: #36a166;

    --code-background: #e7e6df;
    --code-normal: #7d9726;
    --code-comment: #878573;
    --code-function: #36a166;
    --code-keyword: #5f9182;
    --code-string: #7d9726;
}

@media print {
  @page {
    /* margin: 0; */
    size: auto;
  }

  .print .markdown-preview-view {
    -webkit-print-color-adjust: exact;
    color: #000000; /* Adjust to desired text color */
  }

  :root,
  body,
  .theme-dark,
  .theme-light,
  .markdown-rendered,
  .markdown-preview-view,
  .print .markdown-preview-view {
    --text-normal: #5f5e4e;
    --text-muted: #6c6b5a;
    --text-faint: #878573;
    --background-primary: #f4f3ec;
    --background-secondary: #e7e6df;
    --divider-color: #929181;
    --h1-color: #36a166;
    --h2-color: #5f9182;
    --h3-color: #a5980d;
    --h4-color: #7d9726;
    --h5-color: #5b9d48;
    --h6-color: #ae7313;
    --link-color: #a5980d;
    --link-external-color: #5b9d48;
    --code-background: #e7e6df;
    --code-normal: #7d9726;
  }

  html,
  body,
  .markdown-rendered,
  .markdown-preview-view,
  .print .markdown-preview-view,
  .markdown-preview-sizer {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    background-color: var(--background-primary) !important;
    color: var(--text-normal) !important;
  }

  /* html, */
  /* body { */
  /*   margin: 0 !important; */
  /*   padding: 0 !important; */
  /* } */

  /* body { */
  /*   /* padding: 14mm 16mm !important; */ */
  /*   box-sizing: border-box !important; */
  /* } */

  .markdown-preview-view,
  .print .markdown-preview-view,
  /* .markdown-preview-sizer { */
  /*   margin: 0 !important; */
  /*   padding: 0 !important; */
  /*   box-sizing: border-box !important; */
  /*   max-width: none !important; */
  /* } */

  .markdown-rendered h1,
  .markdown-preview-view h1,
  .print .markdown-preview-view h1 {
    color: var(--h1-color) !important;
  }

  .markdown-rendered h2,
  .markdown-preview-view h2,
  .print .markdown-preview-view h2 {
    color: var(--h2-color) !important;
  }

  .markdown-rendered h3,
  .markdown-preview-view h3,
  .print .markdown-preview-view h3 {
    color: var(--h3-color) !important;
  }

  .markdown-rendered h4,
  .markdown-preview-view h4,
  .print .markdown-preview-view h4 {
    color: var(--h4-color) !important;
  }

  .markdown-rendered h5,
  .markdown-preview-view h5,
  .print .markdown-preview-view h5 {
    color: var(--h5-color) !important;
  }

  .markdown-rendered h6,
  .markdown-preview-view h6,
  .print .markdown-preview-view h6 {
    color: var(--h6-color) !important;
  }

  .markdown-rendered a,
  .markdown-preview-view a,
  .print .markdown-preview-view a {
    color: var(--link-color) !important;
  }

  .markdown-rendered a.external-link,
  .markdown-preview-view a.external-link,
  .print .markdown-preview-view a.external-link {
    color: var(--link-external-color) !important;
  }

  .markdown-rendered code,
  .markdown-preview-view code,
  .print .markdown-preview-view code {
    background-color: var(--code-background) !important;
    color: var(--code-normal) !important;
  }

  .markdown-rendered pre,
  .markdown-preview-view pre,
  .print .markdown-preview-view pre,
  .markdown-rendered blockquote,
  .markdown-preview-view blockquote,
  .print .markdown-preview-view blockquote {
    background-color: var(--background-secondary) !important;
  }

  .markdown-rendered blockquote,
  .markdown-preview-view blockquote,
  .print .markdown-preview-view blockquote {
    border-left: 4px solid var(--divider-color) !important;
    color: var(--text-muted) !important;
  }

  .markdown-rendered hr,
  .markdown-preview-view hr,
  .print .markdown-preview-view hr,
  .markdown-rendered table,
  .markdown-rendered th,
  .markdown-rendered td,
  .markdown-preview-view table,
  .markdown-preview-view th,
  .markdown-preview-view td,
  .print .markdown-preview-view table,
  .print .markdown-preview-view th,
  .print .markdown-preview-view td {
    border-color: var(--divider-color) !important;
  }

  .markdown-rendered th,
  .markdown-preview-view th,
  .print .markdown-preview-view th {
    background-color: var(--background-secondary) !important;
  }

  /* make horizontal line appear as page break when exporting to pdf */
  hr {
    visibility: hidden;
    page-break-before: always;
  }
}
