.theme-dark {
    --accent-h: 210;
    --accent-s: 50%;
    --accent-l: 50%;

    --text-normal: #ecf0c1;
    --text-muted: #818596;
    --text-faint: #686f9a;

    --background-primary: #16172d;
    --background-secondary: #1b1c36;
    --background-modifier-hover: #30365F;
    --background-modifier-active-hover: #7a5ccc;
    --background-modifier-message: #1b1c36;
    --background-modifier-form-field: #30365F;

    --ribbon-background: #16172d;
    --divider-color: #30365F;
    --scrollbar-thumb-bg: #686f9a;
    --status-bar-border-color: #30365F;
    --status-bar-background: #16172d;
    --titlebar-background: #16172d;
    --titlebar-text-color: #ecf0c1;

    --nav-item-color: #818596;
    --nav-item-color-active: #7a5ccc;
    --nav-item-background-active: #30365F;
    --nav-item-color-hover: #ecf0c1;
    --nav-item-background-hover: #30365F;

    --tab-background-active: #30365F;
    --tab-text-color-active: #7a5ccc;
    --tab-text-color: #818596;

    --icon-color: #ecf0c1;

    --h1-color: #7a5ccc;
    --h2-color: #b3a1e6;
    --h3-color: #f2ce00;
    --h4-color: #5ccc96;
    --h5-color: #00a3cc;
    --h6-color: #e39400;

    --cursorcolor: var(--h1-color);

    --link-external-color: #00a3cc;
    --link-external-color-hover: #7a5ccc;
    --link-color: #f2ce00;
    --link-color-hover: #7a5ccc;

    --code-background: #1b1c36;
    --code-normal: #5ccc96;
    --code-comment: #686f9a;
    --code-function: #7a5ccc;
    --code-keyword: #b3a1e6;
    --code-string: #5ccc96;
}
