.theme-dark {
    --accent-h: 210;
    --accent-s: 50%;
    --accent-l: 50%;

    --text-normal: #828bb8;
    --text-muted: #636da6;
    --text-faint: #3b4261;

    --background-primary: #222436;
    --background-secondary: #1e2030;
    --background-modifier-hover: #2d3f76;
    --background-modifier-active-hover: #82aaff;
    --background-modifier-message: #1e2030;
    --background-modifier-form-field: #2d3f76;

    --ribbon-background: #222436;
    --divider-color: #2d3f76;
    --scrollbar-thumb-bg: #3b4261;
    --status-bar-border-color: #2d3f76;
    --status-bar-background: #222436;
    --titlebar-background: #222436;
    --titlebar-text-color: #828bb8;

    --nav-item-color: #636da6;
    --nav-item-color-active: #82aaff;
    --nav-item-background-active: #2d3f76;
    --nav-item-color-hover: #828bb8;
    --nav-item-background-hover: #2d3f76;

    --tab-background-active: #2d3f76;
    --tab-text-color-active: #82aaff;
    --tab-text-color: #636da6;

    --icon-color: #828bb8;

    --h1-color: #82aaff;
    --h2-color: #fca7ea;
    --h3-color: #ffdf77;
    --h4-color: #c3e88d;
    --h5-color: #86e1fc;
    --h6-color: #ffc777;

    --cursorcolor: var(--h1-color);

    --link-external-color: #86e1fc;
    --link-external-color-hover: #82aaff;
    --link-color: #ffdf77;
    --link-color-hover: #82aaff;

    --code-background: #1e2030;
    --code-normal: #c3e88d;
    --code-comment: #3b4261;
    --code-function: #82aaff;
    --code-keyword: #fca7ea;
    --code-string: #c3e88d;
}
