.theme-dark,
.theme-light {
    --accent-h: 210;
    --accent-s: 50%;
    --accent-l: 50%;

    --text-normal: #504945;
    --text-muted: #665c54;
    --text-faint: #bdae93;

    --background-primary: #f9f5d7;
    --background-secondary: #ebdbb2;
    --background-modifier-hover: #d5c4a1;
    --background-modifier-active-hover: #076678;
    --background-modifier-message: #ebdbb2;
    --background-modifier-form-field: #d5c4a1;

    --ribbon-background: #f9f5d7;
    --divider-color: #d5c4a1;
    --scrollbar-thumb-bg: #bdae93;
    --status-bar-border-color: #d5c4a1;
    --status-bar-background: #f9f5d7;
    --titlebar-background: #f9f5d7;
    --titlebar-text-color: #504945;

    --nav-item-color: #665c54;
    --nav-item-color-active: #076678;
    --nav-item-background-active: #d5c4a1;
    --nav-item-color-hover: #504945;
    --nav-item-background-hover: #d5c4a1;

    --tab-background-active: #d5c4a1;
    --tab-text-color-active: #076678;
    --tab-text-color: #665c54;

    --icon-color: #504945;

    --h1-color: #076678;
    --h2-color: #8f3f71;
    --h3-color: #b57614;
    --h4-color: #79740e;
    --h5-color: #427b58;
    --h6-color: #af3a03;

    --cursorcolor: var(--h1-color);

    --link-external-color: #427b58;
    --link-external-color-hover: #076678;
    --link-color: #b57614;
    --link-color-hover: #076678;

    --code-background: #ebdbb2;
    --code-normal: #79740e;
    --code-comment: #bdae93;
    --code-function: #076678;
    --code-keyword: #8f3f71;
    --code-string: #79740e;
}

@media print {
  @page {
    /* margin: 0; */
    size: auto;
  }

  .print .markdown-preview-view {
    -webkit-print-color-adjust: exact;
    color: #000000; /* Adjust to desired text color */
  }

  :root,
  body,
  .theme-dark,
  .theme-light,
  .markdown-rendered,
  .markdown-preview-view,
  .print .markdown-preview-view {
    --text-normal: #504945;
    --text-muted: #665c54;
    --text-faint: #bdae93;
    --background-primary: #f9f5d7;
    --background-secondary: #ebdbb2;
    --divider-color: #d5c4a1;
    --h1-color: #076678;
    --h2-color: #8f3f71;
    --h3-color: #b57614;
    --h4-color: #79740e;
    --h5-color: #427b58;
    --h6-color: #af3a03;
    --link-color: #b57614;
    --link-external-color: #427b58;
    --code-background: #ebdbb2;
    --code-normal: #79740e;
  }

  html,
  body,
  .markdown-rendered,
  .markdown-preview-view,
  .print .markdown-preview-view,
  .markdown-preview-sizer {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    background-color: var(--background-primary) !important;
    color: var(--text-normal) !important;
  }

  /* html, */
  /* body { */
  /*   margin: 0 !important; */
  /*   padding: 0 !important; */
  /* } */

  /* body { */
  /*   /* padding: 14mm 16mm !important; */ */
  /*   box-sizing: border-box !important; */
  /* } */

  .markdown-preview-view,
  .print .markdown-preview-view,
  /* .markdown-preview-sizer { */
  /*   margin: 0 !important; */
  /*   padding: 0 !important; */
  /*   box-sizing: border-box !important; */
  /*   max-width: none !important; */
  /* } */

  .markdown-rendered h1,
  .markdown-preview-view h1,
  .print .markdown-preview-view h1 {
    color: var(--h1-color) !important;
  }

  .markdown-rendered h2,
  .markdown-preview-view h2,
  .print .markdown-preview-view h2 {
    color: var(--h2-color) !important;
  }

  .markdown-rendered h3,
  .markdown-preview-view h3,
  .print .markdown-preview-view h3 {
    color: var(--h3-color) !important;
  }

  .markdown-rendered h4,
  .markdown-preview-view h4,
  .print .markdown-preview-view h4 {
    color: var(--h4-color) !important;
  }

  .markdown-rendered h5,
  .markdown-preview-view h5,
  .print .markdown-preview-view h5 {
    color: var(--h5-color) !important;
  }

  .markdown-rendered h6,
  .markdown-preview-view h6,
  .print .markdown-preview-view h6 {
    color: var(--h6-color) !important;
  }

  .markdown-rendered a,
  .markdown-preview-view a,
  .print .markdown-preview-view a {
    color: var(--link-color) !important;
  }

  .markdown-rendered a.external-link,
  .markdown-preview-view a.external-link,
  .print .markdown-preview-view a.external-link {
    color: var(--link-external-color) !important;
  }

  .markdown-rendered code,
  .markdown-preview-view code,
  .print .markdown-preview-view code {
    background-color: var(--code-background) !important;
    color: var(--code-normal) !important;
  }

  .markdown-rendered pre,
  .markdown-preview-view pre,
  .print .markdown-preview-view pre,
  .markdown-rendered blockquote,
  .markdown-preview-view blockquote,
  .print .markdown-preview-view blockquote {
    background-color: var(--background-secondary) !important;
  }

  .markdown-rendered blockquote,
  .markdown-preview-view blockquote,
  .print .markdown-preview-view blockquote {
    border-left: 4px solid var(--divider-color) !important;
    color: var(--text-muted) !important;
  }

  .markdown-rendered hr,
  .markdown-preview-view hr,
  .print .markdown-preview-view hr,
  .markdown-rendered table,
  .markdown-rendered th,
  .markdown-rendered td,
  .markdown-preview-view table,
  .markdown-preview-view th,
  .markdown-preview-view td,
  .print .markdown-preview-view table,
  .print .markdown-preview-view th,
  .print .markdown-preview-view td {
    border-color: var(--divider-color) !important;
  }

  .markdown-rendered th,
  .markdown-preview-view th,
  .print .markdown-preview-view th {
    background-color: var(--background-secondary) !important;
  }

  /* make horizontal line appear as page break when exporting to pdf */
  hr {
    visibility: hidden;
    page-break-before: always;
  }
}
