.theme-dark {
    --accent-h: 210;
    --accent-s: 50%;
    --accent-l: 50%;

    --text-normal: #504945;
    --text-muted: #665c54;
    --text-faint: #bdae93;

    --background-primary: #f2e5bc;
    --background-secondary: #ebdbb2;
    --background-modifier-hover: #d5c4a1;
    --background-modifier-active-hover: #076678;
    --background-modifier-message: #ebdbb2;
    --background-modifier-form-field: #d5c4a1;

    --ribbon-background: #f2e5bc;
    --divider-color: #d5c4a1;
    --scrollbar-thumb-bg: #bdae93;
    --status-bar-border-color: #d5c4a1;
    --status-bar-background: #f2e5bc;
    --titlebar-background: #f2e5bc;
    --titlebar-text-color: #504945;

    --nav-item-color: #665c54;
    --nav-item-color-active: #076678;
    --nav-item-background-active: #d5c4a1;
    --nav-item-color-hover: #504945;
    --nav-item-background-hover: #d5c4a1;

    --tab-background-active: #d5c4a1;
    --tab-text-color-active: #076678;
    --tab-text-color: #665c54;

    --icon-color: #504945;

    --h1-color: #076678;
    --h2-color: #8f3f71;
    --h3-color: #b57614;
    --h4-color: #79740e;
    --h5-color: #427b58;
    --h6-color: #af3a03;

    --cursorcolor: var(--h1-color);

    --link-external-color: #427b58;
    --link-external-color-hover: #076678;
    --link-color: #b57614;
    --link-color-hover: #076678;

    --code-background: #ebdbb2;
    --code-normal: #79740e;
    --code-comment: #bdae93;
    --code-function: #076678;
    --code-keyword: #8f3f71;
    --code-string: #79740e;
}
