.theme-dark {
    --accent-h: 210;
    --accent-s: 50%;
    --accent-l: 50%;

    --text-normal: #d5c4a1;
    --text-muted: #bdae93;
    --text-faint: #665c54;

    --background-primary: #32302f;
    --background-secondary: #3c3836;
    --background-modifier-hover: #504945;
    --background-modifier-active-hover: #83a598;
    --background-modifier-message: #3c3836;
    --background-modifier-form-field: #504945;

    --ribbon-background: #32302f;
    --divider-color: #504945;
    --scrollbar-thumb-bg: #665c54;
    --status-bar-border-color: #504945;
    --status-bar-background: #32302f;
    --titlebar-background: #32302f;
    --titlebar-text-color: #d5c4a1;

    --nav-item-color: #bdae93;
    --nav-item-color-active: #83a598;
    --nav-item-background-active: #504945;
    --nav-item-color-hover: #d5c4a1;
    --nav-item-background-hover: #504945;

    --tab-background-active: #504945;
    --tab-text-color-active: #83a598;
    --tab-text-color: #bdae93;

    --icon-color: #d5c4a1;

    --h1-color: #83a598;
    --h2-color: #d3869b;
    --h3-color: #fabd2f;
    --h4-color: #b8bb26;
    --h5-color: #8ec07c;
    --h6-color: #fe8019;

    --cursorcolor: var(--h1-color);

    --link-external-color: #8ec07c;
    --link-external-color-hover: #83a598;
    --link-color: #fabd2f;
    --link-color-hover: #83a598;

    --code-background: #3c3836;
    --code-normal: #b8bb26;
    --code-comment: #665c54;
    --code-function: #83a598;
    --code-keyword: #d3869b;
    --code-string: #b8bb26;
}
