[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = https://github.com/Seger01/NeovimConfig.git
[submodule "bat/.config/bat/themes/gruvbox-material-bat"]
	path = bat/.config/bat/themes/gruvbox-material-bat
	url = https://github.com/molchalin/gruvbox-material-bat
[submodule "tmux/.tmux/plugins/tmp"]
	path = tmux/.tmux/plugins/tmp
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "scripts/.config/scripts/theme-switcher/color-defs/schemes"]
	path = scripts/.config/scripts/theme-switcher/color-defs/schemes
	url = https://github.com/tinted-theming/schemes.git
