@import url("file:///home/seger/.config/wofi/colors.css");

window {
  margin: 0px;
  border: 0px none @base03;
  border-width: 1px;
  background-color: alpha(@base00, 0.70);
  border-radius: 12px;
}

#input {
  padding: 12px;
  margin: 0px;
  padding-left: 16px;
  border: none;
  border-width: 0px;
  color: @base05;
  font-family: Sauce Code Pro Nerd Font;
  font-size: 20px;
  font-weight: 600;
  background-color: alpha(@base01, 0.3);
  outline: none;
  border-radius: 8px;
  margin: 8px 8px;
  margin-bottom: 8px;
}

#input:focus {
  border: 0px solid transparent;
  margin-bottom: 0px;
}

#inner-box {
  margin: 4px;
  border: 0px solid transparent;
  color: @base05;
  font-weight: normal;
  background-color: transparent;
  border-radius: 8px;
}

#outer-box {
  margin: 0px;
  border: 1px solid @base0D;
  border-radius: 12px;
  background-color: alpha(@base00, 0.70);
}

#scroll {
  background-color: transparent;
  margin-top: 4px;
  border: none;
  border-radius: 8px;
  margin-bottom: 4px;
}

#img {
  margin-right: 10px;
}

#img:selected {
  background-color: transparent;
  margin-right: 12px;
  border-radius: 6px;
}

#img {
  background-color: transparent;
  margin-right: 16px;
  border-radius: 6px;
}

#text:selected {
  color: @base05;
  margin: 0px 0px;
  border: none;
  border-color: @base0D;
  border-width: 0px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 18px;
}

#text {
  color: @base05;
  margin: 0px 0px;
  border: none;
  border-color: @base03;
  border-width: 0px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 18px;
}

#entry {
  margin: 4px 4px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: alpha(@base01, 0.2);
}

#entry:selected {
  margin: 4px 4px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: alpha(@base0D, 0.4);
}
