@import url("file:///home/seger/.config/wofi/colors.css");

window {
  margin: 0px;
  border: 0px none @base03;
  border-width: 1px;
  background-color: @base00;
  border-radius: 0px;
}

#input {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  border: none;
  border-width: 0px;
  color: @base05;
  font-family: Sauce Code Pro Nerd Font;
  font-size: 16px;
  font-weight: 600;
  background-color: @base01;
  outline: none;
  border-radius: 0px;
  margin: 5px 5px;
  margin-bottom: 2px;
}

#input:focus {
  border: 0px solid transparent;
  margin-bottom: 0px;
}

#inner-box {
  margin: 0px;
  border: 0px solid transparent;
  color: @base05;
  font-weight: normal;
  background-color: @base01;
  border-radius: 4px;
}

#outer-box {
  margin: 0px;
  border: 1px solid @base0D;
  border-radius: 0px;
  background-color: @base00;
}

#scroll {
  background-color: @base01;
  margin-top: 0px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

#img {
  margin-right: 10px;
}

#img:selected {
  background-color: transparent;
  margin-right: 10px;
  border-radius: 0px;
}

#img {
  background-color: @base01;
  margin-right: 10px;
  border-radius: 0px;
}

#text:selected {
  color: @base00;
  margin: 0px 0px;
  border: none;
  border-color: @base0D;
  border-width: 0px;
  border-radius: 0px;
  background-color: @base0D;
}

#text {
  color: @base05;
  margin: 0px 0px;
  border: none;
  border-color: @base03;
  border-width: 0px;
  border-radius: 0px;
  background-color: @base01;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background-color: @base01;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background-color: @base0D;
}
