* {
    all:unset;
    font-family: 'Sauce Code Pro', monospace;
    font-size: 20px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 8px;
    border-radius: 12px;
    background-color: alpha(@base00,.92);
}

#inner-box {
    margin: 4px;
    padding: 4px;
    border: none;
}

#outer-box {    
    border: none;
}

#scroll {
    margin: 4px;
    padding: 4px;
    border: none;
}

#input {
    all:unset;
    margin-left:8px;
    margin-right:8px;
    margin-top:8px;
    padding: 14px;
    border: none;
    outline: none;
    color: @base05;
    font-size: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0, .5);
    border-radius:8px;
    background-color: alpha(@base00,.2);
}

#input image {
    border: none;
    color: @base08;
    padding-right:0px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius:8px;
}

#text {
    margin: 0px;
    border: none;
    color: @base05;
    outline: none;
}

#entry {
    all:unset;
    padding: 10px 10px 10px 12px;
}

#entry image {
    min-width: 200px;
    min-height: 200;
    padding-right: 22px;
}

#entry arrow {
    border: none;
    color: @base0E;
}

#entry:selected {
    border: none;
    border-radius: 8px;
    background-color: alpha(@base00,.2);
}

#entry:selected #text {
    color: @base0E;
}

#entry:drop(active) {
    background-color: @base0E !important;
}
