@import url("file:///home/seger/.config/wofi/colors.css");

window {
  margin: 0px;
  border: 0px none @outline;
  border-width: 1px;
  background-color: @surface;
  border-radius: 0px;
}

#input {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  border: none;
  border-width: 0px;
  color: @on_surface;
  font-family: Sauce Code Pro Nerd Font;
  font-size: 16px;
  font-weight: 600;
  background-color: @surface_container;
  outline: none;
  border-radius: 0px;
  margin: 5px 5px;
  margin-bottom: 2px;
}

#input:focus {
  border: 0px solid transparent;
  margin-bottom: 0px;
}

#inner-box {
  margin: 0px;
  border: 0px solid transparent;
  color: @on_surface;
  font-weight: normal;
  background-color: @surface_container;
  border-radius: 4px;
}

#outer-box {
  margin: 0px;
  border: 1px solid @primary;
  border-radius: 0px;
  background-color: @surface;
}

#scroll {
  background-color: @surface_container;
  margin-top: 0px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

#img {
  margin-right: 10px;
}

#img:selected {
  background-color: transparent;
  margin-right: 10px;
  border-radius: 0px;
}

#img {
  background-color: @surface_container;
  margin-right: 10px;
  border-radius: 0px;
}

#text:selected {
  color: @on_primary_container;
  margin: 0px 0px;
  border: none;
  border-color: @primary;
  border-width: 0px;
  border-radius: 0px;
  background-color: @primary_container;
}

#text {
  color: @on_surface;
  margin: 0px 0px;
  border: none;
  border-color: @outline;
  border-width: 0px;
  border-radius: 0px;
  background-color: @surface_container;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background-color: @surface_container;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background-color: @primary_container;
}
