@import "colors.css";

* {
  font-family: "SauceCodePro Nerd Font Regular", sans-serif; 
  font-weight: bold; 
  font-size: 14px;
  color: @base0D;
}

#window {
  color: @base08;
  background: @base01;
  transition-property: background-color;
  border-radius: 100px;
  padding: 0 10px;
}

#waybar.empty #window {
  background: none;
}

window#waybar {
  background-color: transparent;
}

button {
  margin-right: 5px;
  border: none;
  border-radius: 0px;
  background: @base01;
  box-shadow: none;
  text-shadow: none;
}

button:hover {
  color: @base08;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

#workspaces {
  border-radius: 20px;
  background: @base01;
  padding: 0 12px;
}

#workspaces button {
  border: none;
  background-color: @base01;
  color: @base0D;
  transition: 0.2s;
  padding-left: 0;
  padding-right: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button:hover {
  color: @base09;
  background: @base01;
  transition: 0.2s;
}

#workspaces button.urgent {
  color: @base08;
}

#workspaces button.active {
    border-bottom: 3px solid @base0C;
}

#mode {
  background: @base01;
  box-shadow: none;
  text-shadow: none;
}

#clock,
#battery,
#cpu,
#memory,
#wireplumber,
#custom-power {
  padding-left: 15px;
  padding-right: 18px;
  background-color: @base01;
  border-radius: 100px;
}

#window,
#workspaces {
  margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#clock {
  color: @base0C;
}

#battery.charging,
#battery.plugged,
#battery {
  color: @base0B;
}

@keyframes blink {
  to {
    background-color: @base01;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
    background-color: @base01;
}

label:focus {
  color: @base0D;
}

#cpu {
  color: @base0E;
}

#memory {
  color: @base0B;
}

#wireplumber {
  color: @base0D;
}
