@import "colors.css";

@define-color base @surface_container;
@define-color foreground @primary;

* {
  font-family: "SauceCodePro Nerd Font Regular", sans-serif; 
  font-weight: bold; 
  font-size: 14px;
  color: @foreground;
}

#window {
  color: @pink;
  background: @base;
  transition-property: background-color;
  border-radius: 100px;
  padding: 0 10px;
}

#waybar.empty #window {
  background: none;
}

window#waybar {
  background-color: transparent;
}

button {
  margin-right: 5px;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0px;
  background: @base;
  box-shadow: none;
  text-shadow: none;
}

button:hover {
  color: @pink;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

#workspaces {
  border-radius: 20px;
  background: @base;
  padding: 0 12px;
}

#workspaces button {
  border: none;
  background-color: @base;
  color: @foreground;
  transition: 0.2s;
  padding-left: 0;
  padding-right: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button:hover {
  color: @orange;
  background: @base;
  transition: 0.2s;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.active {
    /* background-color: rgba(1, 1, 1, 1.0); */
    /* color: @orange; */
    /* border-top: 2px solid @cyan; */
    border-bottom: 3px solid @cyan;
}

#mode {
  background: @base;
  box-shadow: none;
  text-shadow: none;
}

#clock,
#battery,
#cpu,
#memory,
#wireplumber,
#custom-power {
  padding-left: 15px;
  padding-right: 18px;
  background-color: @base;
  border-radius: 100px;
}

#window,
#workspaces {
  margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#clock {
  color: @secondary;
}

#battery {
  color: @tertiary_fixed_dim
}

#battery.charging,
#battery.plugged {
  color: @error_container;
}

@keyframes blink {
  to {
    background-color: @base;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
    background-color: @foreground;
}

label:focus {
  color: @foreground;
}

#cpu {
  color: @purple;
}

#memory {
  color: @green;
}

#wireplumber {
  color: @primary_fixed_dim;
}
/**/
/* #wireplumber.muted { */
/*   color: @red; */
/* } */
