@import "colors.css";

* {
    /* font-family: "SauceCodePro Nerd Font Regular", sans-serif;  */
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo", sans-serif; 
    font-weight: bold; 
    font-size: 18px;
    /* color: @base0D; */
    min-height: 0;
    padding: 0;
    margin: 0;
}

.modules-center{
    background: @base01;
    /* background: #FFFFFF; */
    padding: 6px 10px 6px 10px;
    margin: 8px 8px 6px 8px;
    border-radius: 28px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#waybar.empty #window {
    background: none;
}

window#waybar {
    background-color: transparent;
}

#workspaces {
    border-radius: 100px;
    background: @base01;
    padding: 0;
    margin: 0px 2px 0px 0px;
    border: none;
    box-shadow: none;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 2px;
    border-radius: 16px;
    border: none;
    background-color: @base01;
    color: @base02;
    /* color: @base0D; */
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    color: @base08;
}

#workspaces button.active {
    background: linear-gradient(135deg, @base0B 0%, @base0C 50%, @base0D 100%);
    color: @base01;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    /* border-bottom: 3px solid @base0C; */
}

#mode {
    background: @base01;
    box-shadow: none;
    text-shadow: none;
}

#clock,
#battery,
#cpu,
#memory,
#wireplumber,
#custom-volume,
#custom-power {
    padding-left: 10px;
    padding-right: 6px;
    background-color: @base01;
    border-radius: 40px;
}
#clock {
    color: @base0C;
}

#battery.charging,
#battery.plugged,
#battery {
    color: @base0B;
    font-size: 20px;
}

#battery.critical:not(.charging) {
    background-color: @base01;
}

label:focus {
    color: #FFFFFF;
}

#custom-volume {
    font-size: 20px;
    color: @base0E;
}

#wireplumber {
    color: @base0E;
}

/* #cpu { */
/*     color: @base0E; */
/* } */
/**/
/* #memory { */
/*     color: @base0B; */
/* } */
/**/
/* If workspaces is the leftmost module, omit left margin */
/* .modules-left>widget:first-child>#workspaces { */
/*     margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right>widget:last-child>#workspaces { */
/*     margin-right: 0; */
/* } */

/* #workspaces button:hover { */
/*     color: @base09; */
/*     background: @base01; */
/*     transition: 0.2s; */
/* } */

/* button { */
/*   margin-right: 5px; */
/*   border: none; */
/*   border-radius: 0px; */
/*   background: @base01; */
/*   box-shadow: none; */
/*   text-shadow: none; */
/* } */
/**/
/* button:hover { */
/*   color: @base08; */
/*   border: none; */
/*   box-shadow: none; */
/*   text-shadow: none; */
/* } */

/* #window { */
/*     color: @base08; */
/*     background: @base01; */
/*     transition-property: background-color; */
/*     border-radius: 100px; */
/*     padding: 0 10px; */
/* } */

